
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="/stylesheets/home.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
          <img src="./pic/logo.jpg">
          <span class="nav-item">Admin</span>
        </a></li>
        <li><a href="/ordem_servico">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Ordem de Serviço</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-comment"></i>
          <span class="nav-item">Seviço</span>
        </a></li>
        <li><a href="/funcionarios">
          <i class="fas fa-database"></i>
          <span class="nav-item">Funcionario</span>
        </a></li>
        <li><a href="/clientes">
          <i class="fas fa-chart-bar"></i>
          <span class="nav-item">Clientes</span>
        </a></li>
        <li><a href="/pecas">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Peças</span>
        </a></li>

        <li><a href="/veiculos">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Veiculos</span>
        </a></li>

        <li><a href="/equipe">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Equipes</span>
        </a></li>

        <li><a href="#" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
        
      </ul>
    </nav>


    <section class="main">
      <div class="main-top">
        <h1>Peças</h1>
        
      </div>

      <section class="attendance">
        <div class="attendance-list">
        <div class="Menu">
            <h1>Peças</h1>
            <a href="/cadastro_pecas">
              <i class="fas fa-user-cog"></i>
            </a>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Fabricante</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Fornecedor</th>
                
              </tr>
            </thead>
            <tbody>
            <% pecas.each do |peca| %>
              <tr>
                <td><%= peca.Nome %></td>
                <td><%= peca.Tipo %></td>
                <td><%= peca.Fabricante %></td>
                <td><%= peca.Preco %></td>
                <td><%= peca.Quantidade_estoque %></td>
                <td><%= peca.Fornecedor %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>

</body>
</html>